@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic|Raleway:400,200);
body, p, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000; }
  .logo h1 {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 2px black; }

.container-cust {
  width: auto;
  margin: 0 auto; }

.weather-wrapper {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 140px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  transition: height 1s ease; }
  .weather-wrapper .minimize {
    overflow: auto;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: -8px; }
    .weather-wrapper .minimize i {
      cursor: pointer;
      color: white;
      float: right;
      transition: color .5s ease; }
      .weather-wrapper .minimize i:hover {
        color: #00e600; }
  .weather-wrapper section {
    margin-bottom: 20px; }
    .weather-wrapper section h1, .weather-wrapper section h2, .weather-wrapper section h3, .weather-wrapper section h4, .weather-wrapper section p, .weather-wrapper section i, .weather-wrapper section span {
      color: white; }

.cur-weather > h1 {
  margin-bottom: 8px;
  font-size: 36px; }
.cur-weather > h4 {
  margin-bottom: 20px; }
.cur-weather > h6 {
  font-family: "Raleway", sans-serif;
  color: grey;
  margin-bottom: 12px;
  font-size: 14px; }
.cur-weather > .sun-info {
  width: 30%;
  margin: 0 auto;
  text-align: center; }
  .cur-weather > .sun-info i {
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
    margin-right: 10px; }

.weather-info {
  margin-top: -20px;
  margin-bottom: 20px; }
  .weather-info span {
    font-size: 80px; }
  .weather-info i {
    margin-right: 20px;
    font-size: 60px; }

.controls {
  margin: 0 auto;
  width: 80%;
  text-align: center; }
  .controls input {
    margin-top: 4px;
    border-radius: 5px;
    height: 40px;
    width: 95%;
    padding-left: 4px;
    font-family: "Raleway", sans-serif;
    font-size: 16px; }

.traffic-ticker {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  color: white;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding-top: 20px;
  color: white; }
  .traffic-ticker section p {
    color: white; }
    .traffic-ticker section p span {
      margin-right: 40px; }
      .traffic-ticker section p span:before, .traffic-ticker section p span:after {
        content: "|"; }

a {
  text-decoration: none;
  color: white; }
  a:visited {
    color: white; }
  a:hover {
    color: white; }

body {
  font-family: "Raleway", sans-serif;
  background-color: white;
  overflow-x: hidden;
  overflow-y: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Arvo", serif; }

#googlemap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100; }

.hidden {
  display: none; }

.shrink {
  height: 40px; }

@keyframes marquee {
  0% {
    text-indent: 100%; }
  100% {
    text-indent: -270%; } }
@-webkit-keyframes marquee {
  0% {
    text-indent: 100%; }
  100% {
    text-indent: -270%; } }
.marquee {
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 70s linear infinite;
  -webkit-animation: marquee 70s linear infinite; }

.marquee:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

/*# sourceMappingURL=compiled.css.map */
